@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: rgb(255, 129, 129);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

img {
    max-width: 80%;
    border-radius: 1rem;
    border-style:outset;
    border-color: rgb(141, 141, 0);
    opacity: 0.6;
}

ul,ol {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 1rem auto;
}